body{
    font-family: 'Exo 2', sans-serif;
    background-color: #9e9e9e;
}
.btn{
    color: #fff;
    background-color: #4392d7;
    border-color: #347ebf;
    letter-spacing: 1px;
}

.btn:hover{
    background-color:#1b4a7e;
}